Repository cs4218/cs4218-project-2024-team06, pull requests merged in 2024-11, with the labels that each got.

#55 Create performance tests folder
  performance-tests/placeholder.txt
Labels: setup, low-priority

#56 Add performance test
  performance-tests/zenith_performance_test.jmx
Labels: performance-testing

#57 Add performance test files
  performance-tests/aish-test-plans/TestGenerationStrategy.md
  performance-tests/get-product-test-plans/TestGenerationStrategy.md
  performance-tests/get-product-test-plans/test-plans/ltp125_5.jmx
  performance-tests/get-product-test-plans/test-plans/ltp25_5.jmx
  performance-tests/get-product-test-plans/test-plans/ltp5_5.jmx
  performance-tests/get-product-test-plans/test-plans/ltp625_10.jmx
  performance-tests/get-product-test-plans/test-plans/ltp625_5.jmx
  performance-tests/get-product-test-plans/test-results/ltp125_5_results.jtl
  performance-tests/get-product-test-plans/test-results/ltp25_5_results.jtl
  performance-tests/get-product-test-plans/test-results/ltp5_5_results.jtl
  performance-tests/get-product-test-plans/test-results/ltp625_10_results.jtl
  performance-tests/get-product-test-plans/test-results/ltp625_5_results.jtl
Labels: performance-testing

#58 Add register test plans
  performance-tests/register-test-plans/RegisterTestPlanREADME.md
  performance-tests/register-test-plans/register_10.jmx
  performance-tests/register-test-plans/register_100.jmx
  performance-tests/register-test-plans/register_1000.jmx
  performance-tests/register-test-plans/register_200.jmx
  performance-tests/register-test-plans/register_300.jmx
  performance-tests/register-test-plans/register_400.jmx
  performance-tests/register-test-plans/register_5.jmx
  performance-tests/register-test-plans/register_50.jmx
  performance-tests/register-test-plans/register_500.jmx
  performance-tests/register-test-plans/register_600.jmx
  performance-tests/register-test-plans/register_650.jmx
  performance-tests/register-test-plans/register_662.jmx
  performance-tests/register-test-plans/register_665.jmx
  performance-tests/register-test-plans/register_666.jmx
  performance-tests/register-test-plans/register_667.jmx
  performance-tests/register-test-plans/register_668.jmx
  performance-tests/register-test-plans/register_675.jmx
  performance-tests/register-test-plans/register_700.jmx
  performance-tests/register-test-plans/register_800.jmx
  performance-tests/register-test-plans/register_900.jmx
  performance-tests/register-test-plans/userdata.csv
Labels: medium-priority, performance-testing

#59 Update README
  README.md
Labels: documentation, low-priority
